<section class="section-container">
  <div class="div-container">
    <div class="form-container">
      <%= form_for @social_account, method: :put do |f| %>
      <h2 class="text-center">Edit <%= @social_account.resource_name.humanize %></h2>
      <div class="form-group mb-3">
        <%= f.label "Name", class: "form-label" %>
        <div class="input-group">
          <%= f.text_field :resource_name, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="form-group mb-3">
        <%= f.label "Platform", class: "form-label" %>
        <div class="input-group">
          <%= f.text_field :resource_platform,
            value: @social_account&.resource_platform&.humanize,
            class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="form-label">
          Content Builder
        </label>
        <div class="input-group">
          <%= f.text_area :openai_prompt_prebuild, size: "30x12", class: "form-control", disabled: false %>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>
          Don't reply to user's comment after (?) hours from the last reply
        </label>
        <div class="input-group">
          <%= f.number_field :time_blocking, class: "form-control", disabled: false %>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>
          Reply to user's comment after (?) seconds
        </label>
        <div class="input-group">
          <%= f.number_field :perform_at, class: "form-control", disabled: false %>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>
          Only use OpenAI for comments longer than (?) words
        </label>
        <div class="input-group">
          <%= f.number_field :minimum_words_required_to_processing_with_openai, class: "form-control", disabled: false %>
        </div>
      </div>
      <h5>
        <label for="checkboxStatus">
          Status (Inactive / Active)
        </label>
      </h5>
      <div class="checkbox-wrapper-5">
        <div class="check">
          <%= f.check_box :status, id: "checkboxStatus", disabled: false %>
          <label for="checkboxStatus"></label>
        </div>
      </div>

      <br>

      <h5>
        <label for="checkboxUseOpenAI">
          OpenAI (Inactive / Active)
        </label>
      </h5>
      <div class="checkbox-wrapper-5">
        <div class="check">
          <%= f.check_box :processing_with_openai, id: "checkboxUseOpenAI", disabled: false %>
          <label for="checkboxUseOpenAI"></label>
        </div>
      </div>
      <br>
      <div class="random_contents mt-3">
        <h6>Random Comments (In case you don't use OpenAI)</h6>
        <%= f.fields_for :random_contents do |builder| %>
        <%= render "social_accounts/form/random_content_fields", f: builder %>
        <% end %>
        <div class="links" style="font-weight: bold; text-decoration: none;">
          <%= link_to_add_association "New Content",
            f, :random_contents, href: "javascript:void(0);", partial: "social_accounts/form/random_content_fields" %>
        </div>
      </div>
      <br>
      <div class="form-group mb-3">
        <%= f.submit "Update", class: "btn btn-primary login-btn btn-block" %>
      </div>
      <% end %>
      <%= link_to "Delete", social_account_path(@social_account), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</section>

<style type="text/css">
  div.div-container {
    max-width: 720px;
    width: 100vw;
  }

  .form-container form input,
  .form-container form textarea {
    margin: 0.3rem 0 2rem 0;
  }
</style>
