<section class="section-container">
  <div class="div-container">
    <div class="form-container">
      <%= form_for @social_account, method: :put do |f| %>
      <h2 class="text-center">
        <span class="fa-brands fa-<%= @social_account.resource_platform.downcase %>">
          <i class="sr-only"><%= @social_account.resource_platform.humanize %></i>
        </span> <span style="font-weight: bold;"><%= @social_account.resource_name.humanize.titleize %></span>
      </h2>
      <hr />
      <h5>
        <label for="checkboxStatus">
          Status (Active / Inactive)
        </label>
      </h5>
      <div class="checkbox-wrapper-5">
        <div class="check">
          <%= f.check_box :status, id: "checkboxStatus", disabled: false %>
          <label for="checkboxStatus"></label>
        </div>
      </div>
      <br>
      <h5>
        <label for="checkboxUseOpenAI">
          Use ChatGPT?
        </label>
      </h5>
      <div class="checkbox-wrapper-5">
        <div class="check">
          <%= f.check_box :processing_with_openai, id: "checkboxUseOpenAI", disabled: false %>
          <label for="checkboxUseOpenAI"></label>
        </div>
      </div>
      <br>
      <div class="form-group mb-3">
        <label class="form-label">
          ChatGPT Prompt [Commenting]
        </label>
        <div class="input-group">
          <%= f.text_area :openai_prompt_prebuild, size: "30x8", class: "rounded-0", disabled: false %>
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="form-label">
          ChatGPT Prompt [Direct Messaging]
        </label>
        <div class="input-group">
          <%= f.text_area :openai_prompt_direct_message_prebuild, size: "30x4", class: "rounded-0", disabled: false %>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>
          Do not reply after (?) hours since the last reply
        </label>
        <div class="input-group">
          <%= f.number_field :time_blocking, class: "rounded-0", disabled: false %>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>
          Reply to a comment in (?) seconds
        </label>
        <div class="input-group">
          <%= f.number_field :perform_at, class: "rounded-0", disabled: false %>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>
          Use ChatGPT if the comment is at least (?) words long
        </label>
        <div class="input-group">
          <%= f.number_field :minimum_words_required_to_processing_with_openai, class: "rounded-0", disabled: false %>
        </div>
      </div>
      <div class="random_contents mt-3">
        <h6>Random content (In cases: you are not using ChatGPT)</h6>
        <%= f.fields_for :random_contents do |builder| %>
        <%= render "social_accounts/form/random_content_fields", f: builder %>
        <% end %>
        <div class="links" style="font-weight: bold; text-decoration: none;">
          <%= link_to_add_association "New Content",
            f, :random_contents, href: "javascript:void(0);", partial: "social_accounts/form/random_content_fields" %>
        </div>
      </div>
      <br>
      <div class="form-group mb-3">
        <%= f.submit "Update", class: "btn btn-primary login-btn btn-block" %>
      </div>
      <% end %>
      <%= link_to "Delete", social_account_path(@social_account), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</section>

<style type="text/css">
  div.div-container {
    max-width: 720px;
    width: 100vw;
  }

  .form-container form input,
  .form-container form textarea {
    margin: 0.3rem 0 2rem 0;
  }
</style>
