<% if current_user.present? %>
  <h1 style="text-align: center; margin-top: 30px;">
    <%= button_to "Add Facebook Page",
      social_accounts_facebook_code_path,
      method: :get,
      data: {
        turbo: false
      },
      class: "btn btn-primary" %>
  </h1>
  <br>
  <% if @social_accounts.any? %>
  <div style="text-align: center;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Platform</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      <% @social_accounts.each do |social_account| %>
        <tr>
          <th scope="row"><%= social_account.id %></th>
          <td style="text-align: left;"><%= social_account.resource_name %></td>
          <td style="text-align: left;"><%= social_account.resource_platform.capitalize %></td>
          <td style="text-align: left;"><%= social_account.status ? "Active" : "Deactive" %></td>
          <td style="text-align: left;">
            <a href="/social_accounts/<%= social_account.id %>">
              Edit
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
<% else %>
  <h1 style="text-align: center; margin-top: 30px;">
    Welcome to Feed Mama Project
  </h1>
<% end %>