<% if current_user.present? %>
  <div class="container flex items-center" style="display: flex; margin-top: 50px;">
    <%= link_to "Facebook",
      social_accounts_facebook_code_path,
      method: :get,
      data: { turbo: false },
      class: "btn btn-primary", style: "max-width: 200px;" %>
    <%= link_to "Instagram",
        social_accounts_instagram_code_path,
        method: :get,
        data: {
          turbo: false
        },
        class: "btn btn-primary", style: "max-width: 200px;" %>
  </div>

  <% if @social_accounts&.any? %>
  <div
    class="container"
    style="text-align: center; margin-bottom: 3%;"
  >
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Platform</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @social_accounts.each do |social_account| %>
        <tr>
          <th scope="row"></th>
          <td style="text-align: left;"><%= social_account.resource_name %></td>
          <td style="text-align: left;"><%= social_account.resource_platform.capitalize %></td>
          <td style="text-align: left;"><%= social_account.status ? "Active" : "Deactive" %></td>
          <td style="text-align: left;">
            <a href="/social_accounts/<%= social_account.id %>">
            Edit
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
<% else %>
  <div
    class="container"
    style="text-align: center; margin-bottom: 3%;"
  >
    <h1>This is body content</h1>
  </div>
<% end %>
