<% if current_user.present? %>
  <div class="container" style="min-height: 100vh;">
    <div class="d-grid gap-3 d-md-flex justify-content-md-center mt-5 mb-5">
      <%= button_to(
        social_accounts_facebook_code_path,
        method: :get, data: { turbo: false },
        class: "btn btn-primary btn-lg rounded-0"
      ) do %>
        <i class="fa-brands fa-facebook"></i>&nbsp;Facebook
      <% end %>

      <%= button_to(
        social_accounts_instagram_code_path,
        method: :get, data: { turbo: false },
        class: "btn btn-danger btn-lg rounded-0"
      ) do %>
        <i class="fa-brands fa-instagram"></i>&nbsp;Instagram
      <% end %>
    </div>

    <% if @social_accounts&.any? %>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Platform</th>
            <th scope="col">Status</th>
            <th scope="col">OpenAI's Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @social_accounts.each do |social_account| %>
          <tr>
            <th scope="row"></th>
            <td style="text-align: left;">
              <span
                class="btn btn-info btn-sm text-light"
              >
                <%= social_account.resource_name %>
              </span>
            </td>
            <td style="text-align: left;">
              <span
                class="btn btn-info btn-sm text-light"
              >
                <%= social_account.resource_platform.capitalize %>
              </span>    
            </td>
            <td style="text-align: left;">
              <span
                class="btn btn-<%= social_account.status ? "success" : "danger" %> btn-sm"
              >
                <%= social_account.status ? "Active" : "Inactive" %>
              </span>
            </td>
            <td style="text-align: left;">
              <span
                class="btn btn-<%= social_account.processing_with_openai ? "success" : "danger" %> btn-sm"
              >
                <%= social_account.processing_with_openai ? "Active" : "Inactive" %>
              </span>    
            </td>
            <td style="text-align: left;">
              <a class="btn btn-info btn-sm text-light" href="/social_accounts/<%= social_account.id %>">
              Update
              </a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% else %>
  <div>
    <section id="home" class="hero-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-10">
            <div class="hero-content">
              <h1>FOCUS ON WHAT MATTERS</h1>
              <p>BE SMART, AUTOMATE & USE AI!</p>
              <a href="/resgistration" class="text-decoration-none main-btn btn-hover">GET STARTED FOR FREE</a>
            </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="hero-image text-center text-lg-end">
              <img src="img/landing/hero/hero-image.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-last order-lg-first">
            <div class="about-image">
              <img src="img/landing/about/about-image.svg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-content-wrapper">
              <div class="section-title">
                <h2 class="mb-20">FREE UNTIL YOU'RE READY TO LAUNCH</h2>
                <p class="mb-30">Automate the busy work. Customer support, community management, business workflows, we are here to help you make the most of your time.</p>
                <a href="/about-us" class="text-decoration-none main-btn btn-hover border-btn">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="features" class="feature-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-10">
            <div class="section-title mb-60">
              <h2 class="mb-20">CHECK OUT OUR FEATURED ARTICLES</h2>
              <p>Whether through posting every day or organizing giveaways, all roads are designed to load towards increased engagement.</p>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="single-feature">
                  <div class="feature-icon">
                    <i class="lni lni-display"></i>
                  </div>
                  <div class="feature-content">
                    <h4>LIVECHAT</h4>
                    <p>Start interacting with your customers as they are browsing your website.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="single-feature">
                  <div class="feature-icon">
                    <i class="lni lni-compass"></i>
                  </div>
                  <div class="feature-content">
                    <h4>AI CHATBOT</h4>
                    <p>Build your own chatbot with no code. Leverage AI to maximise performance.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="single-feature">
                  <div class="feature-icon">
                    <i class="lni lni-grid-alt"></i>
                  </div>
                  <div class="feature-content">
                    <h4>AI COMMUNITY MANAGER</h4>
                    <p>Like and/or answer comments from your audience on your posts or videos.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="single-feature">
                  <div class="feature-icon">
                    <i class="lni lni-layers"></i>
                  </div>
                  <div class="feature-content">
                    <h4>CHAT AI ASSISTANT</h4>
                    <p>Talk to Chat GPT 4o — Get AI Assistance for Homework, Day-To-Day Tasks, Essays, Content, Ideas, Translations etc</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="cta" class="cta-section pt-130 pb-100">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-10">
            <div class="cta-content-wrapper">
              <div class="section-title">
                <h2 class="mb-20">Quick & Easy to Use</h2>
                <p class="mb-30">Automate workflows with no code, connect with third party apps and your databases.</p>
                <a href="/login" class="text-decoration-none main-btn btn-hover border-btn">Try it Free</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="cta-image text-lg-end">
              <img src="img/landing/cta/cta-image.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>
