<% if current_user.present? %>
  <h1 style="text-align: center; margin-top: 30px;">
    <%= link_to "Add Facebook Page", social_accounts_facebook_code_path %><br/>
  </h1>

  <br>

  <% if !@social_accounts.any? %>
  <div style="text-align: center;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Platform</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @social_accounts.each do |social_account| %>
        <tr>
          <th scope="row"><%= social_account.resource_id %></th>
          <td><%= social_account.resource_name %></td>
          <td><%= social_account.resource_platform.capitalize %></td>
          <td>
            <a href="https://facebook.com/<%= social_account.resource_id %>" target="_blank">
              View
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
<% else %>
  <h1 style="text-align: center; margin-top: 30px;">
    Welcome to Feed Mama Project
  </h1>
<% end %>