<div class="devise-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="text-center">Sign in</h2>   
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <span class="fa fa-user"></span>
        </span>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Username" %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-lock"></i>
        </span>                    
      </div>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Sign in", class: "btn btn-primary login-btn btn-block" %>
  </div>
  <div class="clearfix">
    <label class="float-left form-check-label">
      <%= f.check_box :remember_me %>
    Remember me</label>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "float-right" %>
  </div>

  <div class="or-seperator"><i>or</i></div>
    <p class="text-center">Sign in with your social media account</p>
    <%= render "users/shared/links" %>
  <% end %>
  <p class="text-center text-muted small">Don't have an account?
    <%= link_to "Sign up here!", new_registration_path(resource_name) %>
  </p>
</div>
