<div
  class="container"
  style="text-align: center; margin-top: 3%; margin-bottom: 5%;"
>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#Id</th>
        <th scope="col">Paid amount</th>
        <th scope="col">Qty</th>
        <th scope="col">Token exchange</th>
        <th scope="col">Status</th>
        <th scope="col">Paid date</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <th scope="row"><%= order.id %></th>
        <td style="text-align: left;">
          <%= number_to_currency(order.amount) || 0 %>
        </td>
        <td style="text-align: left;">
          <%= order.product_quantity || 0 %>
        </td>
        <td style="text-align: left;">
          <%= set_number_to_delimited(order.token_exchange, delimiter: ',') %>
        </td>
        <td style="text-align: left;"><%= order.status ? "Paid" : "Unpaid" %></td>
        <td style="text-align: left;"><%= order.updated_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>