<section class="section-container">
  <div class="div-container">
    <div class="form-container">
      <%= form_for @user_setting, url: '/settings', method: :put do |f| %>
        <h5>
          <label for="checkboxStatus">
            Status (Inactive / Active)
          </label>
        </h5>
        <div class="checkbox-wrapper-5">
          <div class="check">
            <%= f.check_box :setting_status, { checked: @user_setting.active?, id: 'checkboxStatus' }, :active, :inactive  %>
            <label for="checkboxStatus"></label>
          </div>
        </div>

        <br/>

        <div class="form-group mb-3">
          <label>
            Managed By
          </label>
          <div class="input-group">
            <%= f.select :setting_type, options_for_select(user_setting_types, @user_setting.setting_type) %>
          </div>
        </div>
        

        <div class="form-group mb-3">
          <label>
            API Provider
          </label>
          <div class="input-group">
            <%= f.select :api_provider, options_for_select(user_setting_api_providers, @user_setting.api_provider) %>
          </div>
        </div>
        <div class="form-group mb-3">
          <label>
            API Model
          </label>
          <div class="input-group">
            <%= f.text_field :api_model, class: "form-control", disabled: false %>
          </div>
        </div>
        <div class="form-group mb-3">
          <label>
            API Version
          </label>
          <div class="input-group">
            <%= f.text_field :api_version, class: "form-control", disabled: false %>
          </div>
        </div>
        <div class="form-group mb-3">
          <label>
            API Endpoint
          </label>
          <div class="input-group">
            <%= f.text_field :api_endpoint, class: "form-control", disabled: false %>
          </div>
        </div>
        <div class="form-group mb-3">
          <label>
            API Access Token
          </label>
          <div class="input-group">
            <%= f.text_field :api_access_token, class: "form-control", disabled: false %>
          </div>
        </div>
      <br>
      <div class="form-group mb-3">
        <%= f.submit "Update", class: "btn btn-primary login-btn btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</section>

<style type="text/css">
  div.div-container {
    max-width: 720px;
    width: 100vw;
  }

  .form-container form input,
  .form-container form textarea {
    margin: 0.3rem 0 2rem 0;
  }
</style>
