<section class="section-container">
  <div class="div-container">
    <div class="form-container">
      <h5 class="opacity">Change your password</h5>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "New password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "New password confirmation" %>
        <%= f.submit "Submit", class: "btn opacity" %>
      <% end %>
      <br>
      <div class="opacity" style="text-align: center;">
        <%= render "users/shared/links" %>
      </div>
      <br>
    </div>
  </div>
</section>
