<section class="section-container">
  <div class="div-container">
    <div class="form-container">
      <h6 class="opacity">Forgot your password?</h6>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      <%= f.submit "Send me instructions", class: "btn opacity" %>
      <% end %>
      <div class="register-forget opacity">Have an account 👉 
        <%= link_to "Sign in", new_session_path(resource_name), class: "text-light" %>
      </div>
    </div>
  </div>
</section>