<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.png' %>
    <title>FeedMama by Markiee</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", 'type': 'module', defer: true %>
  </head>
  <body>
    <% if notice.present? %>
      <div class="alert alert-success mb-0 rounded-0" style="text-align: center; font-size: 1.2rem;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger mb-0 rounded-0" style="text-align: center; font-size: 1.2rem;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= alert %>
      </div>
    <% end %>

    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="/">FeedMama</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Why FeedMama</a>
              </li>
              <% if current_user.present? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="/profile">User Profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/settings">User Settings</a>
                    </li>
                    <li>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "dropdown-item" %>
                    </li>
                  </ul>
                </li>
                
              <% else %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Get Started
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <li><a class="dropdown-item" href="/resgistration">Registration</a></li>
                  </ul>
                </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/privacy_policy" class="nav-link px-2 text-muted">Privacy Policy</a></li>
          <li class="nav-item"><a href="/terms_of_service" class="nav-link px-2 text-muted">Terms of Service</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2024 Markiee LLC</p>
      </footer>
    </div>

    <script src="/js/jquery-3.3.1.js"></script>
  </body>
</html>
