<!DOCTYPE html>
<html>
  <head>
    <title>FeedMama - FeedMama.Markiee.co</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= favicon_link_tag 'favicon.png' %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", 'type': 'module', defer: true %>
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <% if notice.present? %>
      <div class="alert alert-success mb-0 rounded-0" style="text-align: center; font-size: 1.2rem;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger mb-0 rounded-0" style="text-align: center; font-size: 1.2rem;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= alert %>
      </div>
    <% end %>

    <header>
      <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="/">FeedMama</a>
          <div class="social-media order-lg-last">
            <p class="mb-0 d-flex">
              <a href="https://www.facebook.com/markiee.company" class="text-decoration-none d-flex align-items-center justify-content-center"><span class="fa-brands fa-facebook-f"><i class="sr-only">Facebook</i></span></a>
              <a href="https://www.twitter.com/markiee.company" class="text-decoration-none d-flex align-items-center justify-content-center"><span class="fa-brands fa-twitter"><i class="sr-only">Twitter</i></span></a>
              <a href="https://www.linkedin.com/markiee.company" class="text-decoration-none d-flex align-items-center justify-content-center"><span class="fa-brands fa-linkedin"><i class="sr-only">Twitter</i></span></a>
            </p>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> MENU
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto mr-md-3">
              <li class="nav-item active"><a href="/" class="nav-link">HOME</a></li>
              <% if current_user.present? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ACCOUNT
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="/profile">USER PROFILE</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/settings">USER SETTINGS</a>
                    </li>
                    <li>
                      <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "dropdown-item" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">SIGN IN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/resgistration">SIGN UP</a>
                </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link" href="/pricing">PRICING</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <style>
      .ftco-navbar-light {
        border-radius: 0;
        padding: 10px;
      }
    </style>

    <%= yield %>

    <footer class="footer pt-120">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
            <div class="footer-widget">
              <div class="logo">
                <a href="index.html"> <img src="img/logo/logo.svg" alt="logo"> </a>
              </div>
              <p class="desc">Technology is a tool at the service of humans, it does not replace them. We wish to enable humans to focus on high added value tasks.</p>
              <ul class="social-links">
                <li><a class="text-decoration-none" href="https://www.facebook.com/markiee.company"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a class="text-decoration-none" href="https://www.twitter.com/markiee.company"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a class="text-decoration-none" href="https://www.linkedin.com/markiee.company"><i class="fa-brands fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 offset-xl-1">
            <div class="footer-widget">
              <h3>About</h3>
              <ul class="links">
                <li><a href="#" class="text-decoration-none">About</a></li>
                <li><a href="/pricing" class="text-decoration-none">Pricing</a></li>
                <li><a href="#" class="text-decoration-none">Features</a></li>
                <li><a href="/contact" class="text-decoration-none">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
            <div class="footer-widget">
              <h3>Others</h3>
              <ul class="links">
                <li><a href="#" class="text-decoration-none">Blog</a></li>
                <li><a href="#" class="text-decoration-none">Case Studies</a></li>
                <li><a href="/privacy_policy" class="text-decoration-none">Privacy Policy</a></li>
                <li><a href="/terms_of_service" class="text-decoration-none">Terms of Service</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="footer-widget">
              <h3>Subscribe Newsletter</h3>
              <form action="#">
                <input type="email" placeholder="Email">
                <button class="main-btn btn-hover">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/privacy_policy" class="nav-link px-2 text-muted">Privacy Policy</a></li>
          <li class="nav-item"><a href="/terms_of_service" class="nav-link px-2 text-muted">Terms of Service</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2024 Markiee LLC</p>
      </footer>
    </div> -->

    <script src="/js/jquery-3.3.1.js"></script>
  </body>
</html>
