<section class="section-container">
  <div class="div-container">
    <div class="form-container">
      <h5 class="opacity">REGISTRATION</h5>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "EMAIL" %>
      <%= f.password_field :password, placeholder: "PASSWORD" %>
      <%= f.password_field :password_confirmation, placeholder: "PASSWORD CONFIRMATION" %>
      <%= f.submit "SUBMIT", class: "btn opacity" %>
      <% end %>
      <div class="register-forget opacity">HAVE AN ACCOUNT 👉 
        <%= link_to "SIGN IN", new_session_path(resource_name), class: "text-light" %>
      </div>
      <br>
      <div class="opacity" style="text-align: center;">
        <h5>Sign in with</h5>
        <%= render "users/shared/links" %>
      </div>
      <br>
    </div>
  </div>
</section>